a:link, a:visited, a:hover {
    text-decoration:none; 
    background-color:papayawhip;
    padding: 6px 20px;
    text-align: center; 
    color:black
}

a:active {
    background-color:darkmagenta;
    color:black
}

hr {
    border: 4px solid slategray;
    border-radius: 5px;
  }